/// @group api
/// @param {string} $bgColor - Background color of the button.
/// @param {string} $textColor - Text color of the button.
/// { start: 9, end: 10 }
@mixin clearfix {
    /// after
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

/// @group api
/// { start: 18, end: 20 }
@mixin absCenter{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}