/// 95% от области просмотра занимает элемент
/// ...
/// @group API @group components
/// @todo scss\layout\_header.scss;
.header {
  ///    зависимый элемент от body
  ///    фактически % это процент от шрифта от базового элемента
  ///    допустим font-size: % --> это от высшего body
  //      font-size: 100%;
  height: 95vh;
  background-image: linear-gradient(
                  to right bottom,
                  rgba($color-primary-light, 0.8),
                  rgba($color-primary-dark, 0.8)
  ),
  url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  //noinspection CssUnknownProperty
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0% 100%);

  //noinspection SassScssResolvedByNameOnly
  @include responder(tab-port) {
    //noinspection CssUnknownProperty
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 50vh, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 50vh, 0% 100%);
    height: 60vh;
  }

  &__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;
    background: #eb2f64;
    ////
    ///    em относительно например длинны берет от текста (font-size) по умолчанию в элементе
    ///    em относительно текста берет от вычисленной длинны теста в высшем элементе
    ///    rem использует базовую величину 16px
    ////
    padding: 0.3rem;
  }

  &__logo {
    height: 35px;
  }

  &__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /// размещение текста по центру
    text-align: center;
  }
}